/* PolkaDotsBackground.module.css */

/* Polka dots background */
.background {
  position: absolute;
  opacity: 0.4;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #fff 1%, transparent 2%) center/100px
    100px;
  z-index: -1; /* Ensure it's placed behind the content */
  pointer-events: none; /* Disable interactions with the background */
}
