@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #0c0a09;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  line-height: 2;
  letter-spacing: 1.4;
  /* letter-spacing: 1.5; */
  color: var(--foreground);
  background: var(--background);
  font-family: Silk, sans-serif;
  /* font-size: 12px; */
}

@layer utilities {
  .container {
    @apply max-w-[1280px] mx-auto w-[80%];
  }

  .spacing {
    @apply py-16 md:py-24;
  }

  .link {
    @apply hover:text-slate-400 hover:underline hover:cursor-pointer;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1em;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
    border-radius: 4px;
  }

  .box-span {
    margin-top: 0.5em;
    text-align: center;
    /* font-size: 14px; */
  }

  .border-color {
    @apply border-stone-700;
  }

  .bg-card {
    /* @apply bg-stone-900; */
    @apply bg-[#FBFBFB];
  }
}
