@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #0c0a09;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  line-height: 2;
  color: var(--foreground);
  background: var(--background);
  font-family: regularFont, sans-serif;
}

h1 {
  font-family: headerFont, sans-serif;
  font-size: 2rem;
  /* font-family: regularFont; */
}

h2 {
  font-size: 2rem;
  font-family: header2Font, sans-serif;
  text-transform: uppercase;
}

@layer utilities {
  .container {
    @apply max-w-[1280px] mx-auto w-[80%];
  }

  .container-sm {
    @apply max-w-[1400px] mx-auto w-[96%];
  }

  .spacing {
    @apply py-16 md:py-20;
  }

  .spacing-sm {
    @apply py-6 md:py-10;
  }

  .accent {
    @apply uppercase text-gray-400;
  }

  .link {
    @apply hover:text-slate-400 hover:underline hover:cursor-pointer;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1em;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
    border-radius: 4px;
  }

  .box-span {
    margin-top: 0.5em;
    text-align: center;
    /* font-size: 14px; */
  }

  .border-color {
    @apply border-stone-700;
  }

  .bg-card {
    /* @apply bg-stone-900; */
    @apply bg-[#FBFBFB];
  }

  .bg-secondary {
    background-color: #eaeaea;
    opacity: 1;
    background: linear-gradient(135deg, #f6f6f655 25%, transparent 25%) -40px 0/
        80px 80px,
      linear-gradient(225deg, #f6f6f6 25%, transparent 25%) -40px 0/ 80px 80px,
      linear-gradient(315deg, #f6f6f655 25%, transparent 25%) 0px 0/ 80px 80px,
      linear-gradient(45deg, #f6f6f6 25%, #eaeaea 25%) 0px 0/ 80px 80px;
  }
}
